[submodule "spla"]
	path = spla
	url = https://github.com/SparseLinearAlgebra/spla.git
[submodule "SuiteSparse"]
	path = SuiteSparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
[submodule "gbtl"]
	path = gbtl
	url = https://github.com/SurfaceYellowDuck/gbtl.git
[submodule "boruvka-spla-vs-pregelplus"]
	path = boruvka-spla-vs-pregelplus
	url = git@github.com:DmitryPilyuk/boruvka-spla-vs-pregelplus.git
